.sm-color-stats-dialog {
    width: min(90vw, 400px);
    height: min(80vh, 600px);
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);

    .sm-color-stats-dialog__table {
        table-layout: fixed;
        width: 100%;

        .sm-color-stats-dialog__swatch {
            width: 56px;

            div {
                width: 56px;
                height: 20px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }

        .sm-color-stats-dialog__table-name {
            padding-left: 8px;
        }

        .sm-color-stats-dialog__table-count {
            padding-right: 8px;
            width: calc(var(--sm-color-stats__count-width, 8ch) + 24px);
            text-align: right;
            font-family: monospace;
            font-size: 1.25em;
        }

        tr:nth-child(odd) {
            background-color: #efefef;
        }

        tr:nth-child(even) {
            background-color: #fff;
        }
    }
}
