.sm-alerts-container {
    position: fixed;
    top: 16px;
    z-index: 10;
}

.sm-app-icon {
    position: fixed;
    top: 72px;
    right: 16px;
    width: 48px;
    height: 48px;
    z-index: 10;

    &::before {
        background-position: -15px -20px;
        background-size: calc(100% + 20px) calc(100% + 20px);
    }
}

.sm-app-view {
    position: fixed;
    top: 72px;
    right: 72px;
    z-index: 10;
}

.sm-active-tool-panel-container {
    position: fixed;
    bottom: 119px;
    left: 0;
    right: 0;
    z-index: 10;
}
