.sm-dialog {
    position: relative;
    border: 1px solid var(--sm-card-border-color);
    border-radius: var(--sm-card-border-radius);
    background-color: white;
    min-width: min(100dvw - 32px, 400px);
    max-height: min(100dvh - 32px, 600px);
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    margin: auto;

    &.sm-dialog--large {
        min-width: min(100dvw - 32px, 600px);
        max-height: min(100dvh - 32px, 800px);
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
    }

    .sm-dialog__header {
        padding: 12px;
        border-bottom: 1px solid var(--sm-hard-border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
        }
    }

    .sm-dialog__content {
        padding: 12px;
        overflow-y: auto;
    }
}
