.sm-form-control {
    display: flex;

    &:has(input[type='checkbox']) {
        align-items: center;
        gap: 8px;

        input {
            order: -1;
        }
    }

    &:has(input:is([type='text'], [type='number'], [type='range']), select) {
        flex-direction: column;
    }

    input:is([type='text'], [type='number']),
    select {
        padding: 4px 8px;
        margin-top: 2px;
        border: 1px solid var(--sm-hard-border-color);
        background: var(--sm-background-color);
        border-radius: 4px;
        transition:
            border-color 0.2s ease,
            outline 0.2s ease;

        &:focus {
            border-color: var(--sm-soft-border-color);
            outline: 2px solid var(--sm-primary-color);
            outline-offset: 1px;
        }

        &:disabled {
            background-color: var(--sm-hover-background-color);
            border-color: var(--sm-soft-border-color);
            cursor: not-allowed;
        }
    }

    &.sm-form-control--invalid {
        color: var(--sm-error-foreground-color);

        input:is([type='text'], [type='number']),
        select {
            border-color: var(--sm-error-foreground-color);
            outline-color: var(--sm-error-foreground-color);
        }
    }

    input[type='text'] {
    }

    input[type='number'] {
    }

    input[type='range'] {
    }

    select {
    }

    .sm-range-input__input-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .sm-form-control__label {
        line-height: 1.25;
        user-select: none;
    }
}
