.sm-app-view {
    background: white;
    border-radius: 8px;
    overflow: hidden;

    .sm-app-view__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 12px;
        scrollbar-width: thin;
        width: 400px;
        max-height: 600px;
        overflow-y: auto;
    }

    .sm-app-view__section-heading {
        font-size: 1.25rem;
        margin: 0 0 8px;
    }

    > hr {
        border: none;
        border-top: 1px solid #888888;
        margin: 0;
    }
}

.sm-app-view__templates {
    .sm-app-view__buttons {
        display: flex;
        gap: 8px;
        justify-content: center;
    }
}
