.sm-form-control {
    display: flex;

    &:has(input[type='checkbox']) {
        align-items: center;
        gap: 8px;

        input {
            order: -1;
        }
    }

    &:has(input:is([type='text'], [type='number'], [type='range']), select) {
        flex-direction: column;
    }

    input:is([type='text'], [type='number']),
    select {
        padding: 4px 8px;
        border: 1px solid #888888;
        border-radius: 4px;
        transition:
            border-color 0.2s ease,
            outline 0.2s ease;

        :focus {
            border-color: #cccccc;
            outline: 2px solid #bb66dc;
            outline-offset: 2px;
        }

        :disabled {
            background-color: #f2f2f2;
            border-color: #cccccc;
            cursor: not-allowed;
        }
    }

    input[type='text'] {
    }

    input[type='number'] {
    }

    input[type='range'] {
    }

    select {
    }

    .sm-range-input__input-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .sm-form-control__label {
        line-height: 1.25;
        user-select: none;
    }
}
