.new-template__drop-area {
    aspect-ratio: 3 / 2;
    border: 4px dashed var(--sm-text-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;

    &.drag-over {
        border-color: var(--sm-success-foreground-color);
        background-color: var(--sm-success-background-color);
    }
}

.new-template__error-container {
    color: var(--sm-error-foreground-color);
}
