button.sm-platform__icon-btn {
    padding: 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

button.sm-platform__block-btn {
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: white;

    &:hover {
        background-color: #f2f2f2;
    }
}

.sm-shine-icon {
    color: #b219ee;
}

.sm-dialog {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: white;
    min-width: min(100dvw - 32px, 400px);
    max-height: min(100dvh - 32px, 600px);
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);

    &.sm-dialog--large {
        min-width: min(100dvw - 32px, 600px);
        max-height: min(100dvh - 32px, 800px);
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
    }

    .sm-dialog__header {
        padding: 12px;
        border-bottom: 1px solid #787878;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
        }
    }

    .sm-dialog__content {
        padding: 12px;
        overflow-y: auto;
    }
}
