:root {
    --sm-brand-color: #b219ee;

    --sm-primary-color: #bb66dc;
    --sm-background-color: white;
    --sm-text-color: black;
    --sm-secondary-text-color: #444444;
    --sm-inverted-text-color: white;

    --sm-hard-border-color: #787878;
    --sm-soft-border-color: #9c9c9c;

    --sm-hover-background-color: #e8e8e8;
    --sm-hover-transparent-background-color: rgba(0, 0, 0, 0.1);

    --sm-card-border-color: #cccccc;
    --sm-card-border-radius: 8px;

    --sm-table-odd-row-color: #efefef;
    --sm-table-even-row-color: #ffffff;

    --sm-info-foreground-color: #196ec1;
    --sm-info-on-background-color: black;
    --sm-info-background-color: #93bde7;
    --sm-success-foreground-color: #15a315;
    --sm-success-on-background-color: black;
    --sm-success-background-color: #b7e7b7;
    --sm-error-foreground-color: #ce1f1f;
    --sm-error-on-background-color: black;
    --sm-error-background-color: #e59b9b;

    --sm-small-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
    --sm-large-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

button.sm-platform__icon-btn {
    padding: 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease;
    background-color: transparent;

    &:hover {
        background-color: var(--sm-hover-transparent-background-color);
    }

    &.sm-platform__icon-btn--dense {
        padding: 4px;
    }
}

button.sm-platform__block-btn {
    text-align: center;
    padding: 4px 12px;
    border: 1px solid var(--sm-soft-border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    background: var(--sm-background-color);

    &:hover {
        background-color: var(--sm-hover-background-color);
    }

    &.sm-platform__block-btn--with-icon {
        display: flex;
        align-items: center;
        gap: 4px;

        &.sm-platform__block-btn--icon-left {
            padding-left: 4px;
        }

        &.sm-platform__block-btn--icon-right {
            padding-right: 4px;
        }
    }
}

.sm-shine-icon {
    color: var(--sm-brand-color);
}

.sm-table--evenodd {
    > thead,
    > tbody {
        > tr:nth-child(odd) {
            background-color: var(--sm-table-odd-row-color);
        }

        > tr:nth-child(even) {
            background-color: var(--sm-table-even-row-color);
        }
    }
}
